In [7]:
import pandas as pd
from pathlib import Path

In [8]:
df_amzn = pd.read_csv(Path(
    "Resources/AMZN.csv"), 
    parse_dates=False,
    infer_datetime_format=False,
    index_col=0)
df_amzn

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...
2020-09-17,3009.250000,3029.429932,2972.550049,3008.729980,3008.729980,6449100
2020-09-18,3031.739990,3037.800049,2905.540039,2954.909912,2954.909912,8892600
2020-09-21,2906.500000,2962.000000,2871.000000,2960.469971,2960.469971,6117900
2020-09-22,3033.840088,3133.989990,3000.199951,3128.989990,3128.989990,6948800
2020-09-23,3120.429932,3127.000000,2992.379883,2999.860107,2999.860107,5630400