In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from pathlib import Path
# from alpaca_trade_api import REST, TimeFrame

In [2]:
#Load. env enviormnet variables
load_dotenv()

True

In [3]:
#Set the varaibales for the Alpaca API Key and Secret Key 
#Type Alpaca Key and Secret Key 
alpaca_api_key= os.getenv("ALPACA_KEY")
alpaca_secret_key= os.getenv("ALPACA_SECRET_KEY")

print(type(alpaca_api_key))
print(type(alpaca_secret_key))

<class 'str'>
<class 'str'>

In [4]:
#Create the Alpaca tradeapi.REST object
#Type Alpaca variable 
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key, 
    api_version="v2")

type(api)

alpaca_trade_api.rest.REST

In [5]:
#Format current date as ISO format
start_date = pd.Timestamp("2000-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-06-30", tz="America/New_York").isoformat()

In [6]:
#Set the ticker names "SPY META" "AMZN" "AAPL""NFLX" "GOOG" "MSFT"
tickers = ["SPY", "META", "AMZN", "AAPL","NFLX","GOOG","MSFT"]

#Set timeframe to one day ('1Day') for Alpaca API
timeframe = "1Day"

In [7]:
#Download stock data function for tickers

def download_stocks_data(tickers):

    df_portfolio = api.get_bars(
        tickers, 
        timeframe, 
        start = start_date, 
        end = end_date 
    ).df
    
    return df_portfolio

# Display df
df_portfolio = download_stocks_data(tickers)
df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,118.73,118.8100,116.860,117.34,34852374,187129,117.756760,AAPL
2015-12-02 05:00:00+00:00,117.00,118.1100,116.080,116.28,33385643,180616,117.151198,AAPL
2015-12-03 05:00:00+00:00,116.55,116.7900,114.220,115.20,41560785,245330,115.434888,AAPL
2015-12-04 05:00:00+00:00,115.20,119.2500,115.110,119.03,57776977,307788,118.187290,AAPL
2015-12-07 05:00:00+00:00,118.98,119.8600,117.810,118.28,32080754,190809,118.509111,AAPL
...,...,...,...,...,...,...,...,...
2022-06-24 04:00:00+00:00,381.43,390.0900,381.365,390.08,97628636,628275,386.724310,SPY
2022-06-27 04:00:00+00:00,391.12,391.3600,387.440,388.59,65967268,552197,389.085434,SPY
2022-06-28 04:00:00+00:00,390.30,393.1600,380.530,380.65,86376255,641197,384.912075,SPY
2022-06-29 04:00:00+00:00,381.16,382.2700,378.420,380.34,64478427,519970,380.393953,SPY
2022-06-30 04:00:00+00:00,376.27,380.6582,372.560,377.25,112269284,799487,377.083807,SPY

In [8]:
download_stocks_data(tickers).to_csv("spy.csv")

In [9]:
df_portfolio = pd.read_csv("spy.csv", index_col=0)
df_portfolio["new"] = "new"
df_portfolio.to_csv("spy.csv")

In [10]:
#Display sample data last 5 rows
df_portfolio.tail()

,open,high,low,close,volume,trade_count,vwap,symbol,new
timestamp,,,,,,,,,
2022-06-24 04:00:00+00:00,381.43,390.0900,381.365,390.08,97628636,628275,386.724310,SPY,new
2022-06-27 04:00:00+00:00,391.12,391.3600,387.440,388.59,65967268,552197,389.085434,SPY,new
2022-06-28 04:00:00+00:00,390.30,393.1600,380.530,380.65,86376255,641197,384.912075,SPY,new
2022-06-29 04:00:00+00:00,381.16,382.2700,378.420,380.34,64478427,519970,380.393953,SPY,new
2022-06-30 04:00:00+00:00,376.27,380.6582,372.560,377.25,112269284,799487,377.083807,SPY,new

In [11]:
# Separate Ticker Data for "SPY", "META", "AMZN", "APPL", "NFLX", "GOOG", "MSFT"
SPY = df_portfolio[df_portfolio['symbol']=='SPY'].drop('symbol', axis=1)
META = df_portfolio[df_portfolio['symbol']=='META'].drop('symbol', axis=1)
AMZN = df_portfolio[df_portfolio['symbol']=='AMZN'].drop('symbol', axis=1)
AAPL = df_portfolio[df_portfolio['symbol']=='AAPL'].drop('symbol', axis=1)
NFLX = df_portfolio[df_portfolio['symbol']=='NFLX'].drop('symbol', axis=1)
GOOG = df_portfolio[df_portfolio['symbol']=='GOOG'].drop('symbol', axis=1)
MSFT = df_portfolio[df_portfolio['symbol']=='MSFT'].drop('symbol', axis=1)

# Concatenate the Ticker DataFrames
df_portfolio = pd.concat(
    [SPY, META, AMZN, AAPL, NFLX, GOOG, MSFT],
    axis=1, 
    keys=['SPY','META', 'AMZN', 'NFLX', 'GOOG','MSFT']
)

# Display sample data
df_portfolio

                              SPY                                         \
                             open      high       low   close     volume
timestamp
2015-12-01 05:00:00+00:00  209.42  210.8200  209.1100  210.68   97858418
2015-12-02 05:00:00+00:00  210.60  211.0000  208.2300  208.54  108069059
2015-12-03 05:00:00+00:00  208.90  209.1500  204.7511  205.58  166224154
2015-12-04 05:00:00+00:00  206.10  209.9700  205.9300  209.66  192878747
2015-12-07 05:00:00+00:00  209.20  209.7295  207.2000  208.27  102027111
...                           ...       ...       ...     ...        ...
2022-06-24 04:00:00+00:00  381.43  390.0900  381.3650  390.08   97628636
2022-06-27 04:00:00+00:00  391.12  391.3600  387.4400  388.59   65967268
2022-06-28 04:00:00+00:00  390.30  393.1600  380.5300  380.65   86376255
2022-06-29 04:00:00+00:00  381.16  382.2700  378.4200  380.34   64478427
2022-06-30 04:00:00+00:00  376.27  380.6582  372.5600  377.25  112269284

                                                          META          ...  \
                          trade_count        vwap  new    open    high  ...
timestamp                                                               ...
2015-12-01 05:00:00+00:00      337780  209.921410  new     NaN     NaN  ...
2015-12-02 05:00:00+00:00      367013  209.563055  new     NaN     NaN  ...
2015-12-03 05:00:00+00:00      546768  206.878936  new     NaN     NaN  ...
2015-12-04 05:00:00+00:00      556731  208.178631  new     NaN     NaN  ...
2015-12-07 05:00:00+00:00      374705  208.276128  new     NaN     NaN  ...
...                               ...         ...  ...     ...     ...  ...
2022-06-24 04:00:00+00:00      628275  386.724310  new  161.72  170.25  ...
2022-06-27 04:00:00+00:00      552197  389.085434  new  171.39  171.75  ...
2022-06-28 04:00:00+00:00      641197  384.912075  new  169.90  171.30  ...
2022-06-29 04:00:00+00:00      519970  380.393953  new  163.59  166.33  ...
2022-06-30 04:00:00+00:00      799487  377.083807  new  162.15  165.23  ...

                                 GOOG          MSFT                       \
                                 vwap  new     open      high        low
timestamp
2015-12-01 05:00:00+00:00  124.400173  new   747.11   768.950   746.7000
2015-12-02 05:00:00+00:00  129.278581  new   768.90   775.955   758.9600
2015-12-03 05:00:00+00:00  128.988364  new   766.01   768.995   745.6300
2015-12-04 05:00:00+00:00  128.454281  new   753.10   768.490   750.0000
2015-12-07 05:00:00+00:00  127.261709  new   767.77   768.730   755.0900
...                               ...  ...      ...       ...        ...
2022-06-24 04:00:00+00:00  189.453456  new  2273.93  2372.750  2272.0600
2022-06-27 04:00:00+00:00  187.493089  new  2382.32  2385.000  2320.0150
2022-06-28 04:00:00+00:00  183.632610  new  2327.02  2357.130  2248.8800
2022-06-29 04:00:00+00:00  177.561970  new  2242.97  2273.290  2231.0801
2022-06-30 04:00:00+00:00  174.800531  new  2209.98  2226.596  2146.2000


                             close   volume trade_count         vwap  new
timestamp
2015-12-01 05:00:00+00:00   767.04  2134621       35176   761.715722  new
2015-12-02 05:00:00+00:00   762.38  2230373       34959   766.870679  new
2015-12-03 05:00:00+00:00   752.54  2590641       38195   755.466554  new
2015-12-04 05:00:00+00:00   766.81  2757283       33245   763.948550  new
2015-12-07 05:00:00+00:00   763.25  1812314       23534   762.600568  new
...                            ...      ...         ...          ...  ...
2022-06-24 04:00:00+00:00  2370.76  1956146       92853  2346.887575  new
2022-06-27 04:00:00+00:00  2332.45  1641966       77596  2347.882546  new
2022-06-28 04:00:00+00:00  2251.43  1415821       79078  2282.488087  new
2022-06-29 04:00:00+00:00  2245.13   931393       58418  2246.197409  new
2022-06-30 04:00:00+00:00  2187.45  1903927       95874  2187.833401  new

[1657 rows x 48 columns]

In [12]:
#The high price for SPY
spy_close= df_portfolio["SPY"]["high"]
spy_close

timestamp
2015-12-01 05:00:00+00:00    210.8200
2015-12-02 05:00:00+00:00    211.0000
2015-12-03 05:00:00+00:00    209.1500
2015-12-04 05:00:00+00:00    209.9700
2015-12-07 05:00:00+00:00    209.7295
                               ...
2022-06-24 04:00:00+00:00    390.0900
2022-06-27 04:00:00+00:00    391.3600
2022-06-28 04:00:00+00:00    393.1600
2022-06-29 04:00:00+00:00    382.2700
2022-06-30 04:00:00+00:00    380.6582
Name: high, Length: 1657, dtype: float64

In [13]:
#The low price for SPY
spy_close = df_portfolio["SPY"]["low"]
spy_close

timestamp
2015-12-01 05:00:00+00:00    209.1100
2015-12-02 05:00:00+00:00    208.2300
2015-12-03 05:00:00+00:00    204.7511
2015-12-04 05:00:00+00:00    205.9300
2015-12-07 05:00:00+00:00    207.2000
                               ...
2022-06-24 04:00:00+00:00    381.3650
2022-06-27 04:00:00+00:00    387.4400
2022-06-28 04:00:00+00:00    380.5300
2022-06-29 04:00:00+00:00    378.4200
2022-06-30 04:00:00+00:00    372.5600
Name: low, Length: 1657, dtype: float64

In [14]:
#The closing price for SPY
spy_close= df_portfolio["SPY"]["close"]
spy_close

timestamp
2015-12-01 05:00:00+00:00    210.68
2015-12-02 05:00:00+00:00    208.54
2015-12-03 05:00:00+00:00    205.58
2015-12-04 05:00:00+00:00    209.66
2015-12-07 05:00:00+00:00    208.27
                              ...
2022-06-24 04:00:00+00:00    390.08
2022-06-27 04:00:00+00:00    388.59
2022-06-28 04:00:00+00:00    380.65
2022-06-29 04:00:00+00:00    380.34
2022-06-30 04:00:00+00:00    377.25
Name: close, Length: 1657, dtype: float64

In [15]:
# Get historical data for SPY using Api function in DataFrame
df_spy = api.get_bars(
    ["SPY"], 
    timeframe, 
    start = start_date, 
    end = end_date 
).df

df_spy

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,209.42,210.8200,209.1100,210.68,97858418,337780,209.921410,SPY
2015-12-02 05:00:00+00:00,210.60,211.0000,208.2300,208.54,108069059,367013,209.563055,SPY
2015-12-03 05:00:00+00:00,208.90,209.1500,204.7511,205.58,166224154,546768,206.878936,SPY
2015-12-04 05:00:00+00:00,206.10,209.9700,205.9300,209.66,192878747,556731,208.178631,SPY
2015-12-07 05:00:00+00:00,209.20,209.7295,207.2000,208.27,102027111,374705,208.276128,SPY
...,...,...,...,...,...,...,...,...
2022-06-24 04:00:00+00:00,381.43,390.0900,381.3650,390.08,97628636,628275,386.724310,SPY
2022-06-27 04:00:00+00:00,391.12,391.3600,387.4400,388.59,65967268,552197,389.085434,SPY
2022-06-28 04:00:00+00:00,390.30,393.1600,380.5300,380.65,86376255,641197,384.912075,SPY
2022-06-29 04:00:00+00:00,381.16,382.2700,378.4200,380.34,64478427,519970,380.393953,SPY
2022-06-30 04:00:00+00:00,376.27,380.6582,372.5600,377.25,112269284,799487,377.083807,SPY

In [16]:
#import yfinance as yf

In [17]:
#SPY_dt = yf.Ticker("SPY").history(period="1d", start="1993-01-01", end = "2022-06-30")

In [18]:
#SPY_dt

In [19]:
aapl_df = pd.read_csv(Path("Resources/AAPL.csv"), 
    infer_datetime_format=True, 
    parse_dates=True, 
    index_col=0)

aapl_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-29,100.589996,100.690002,98.040001,99.620003,93.514290,142718700
2014-10-06,99.949997,102.379997,98.309998,100.730003,94.556244,280258200
2014-10-13,101.330002,101.779999,95.180000,97.669998,91.683792,358539800
2014-10-20,98.320000,105.489998,98.220001,105.220001,98.771042,358532900
2014-10-27,104.849998,108.040001,104.699997,108.000000,101.380676,220230600
...,...,...,...,...,...,...
2018-03-05,175.210007,180.000000,174.270004,179.979996,179.979996,139852700
2018-03-12,180.289993,183.500000,177.619995,178.020004,178.020004,155417500
2018-03-19,177.320007,177.470001,164.940002,164.940002,164.940002,172670700
2018-03-26,168.070007,175.149994,165.190002,167.779999,167.779999,157898400
2018-03-29,167.804993,171.750000,166.899994,167.779999,167.779999,38398505