In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [2]:
#Load. env enviormnet variables
load_dotenv()

True

In [3]:
#Set the varaibales for the Alpaca API Key and Secret Key 
#Type Alpaca Key and Secret Key 
alpaca_api_key= os.getenv("ALPACA_KEY")
alpaca_secret_key= os.getenv("ALPACA_SECRET_KEY")

type(alpaca_api_key)
type(alpaca_secret_key)

str

In [4]:
#Create the Alpaca tradeapi.REST object
#Type Alpaca variable 
alpaca= tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key, 
    api_version="v2")


type(alpaca_api_key)

str

In [5]:
#Format current date as ISO format
start_date = pd.Timestamp("2000-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-06-30", tz="America/New_York").isoformat()

In [6]:
#Set the ticker name "SPY"
tickers= ["SPY", "META", "AMZN", "AAPL","NFLX","GOOG","MSFT"]

#Set timeframe to one day ('1Day') for Alpaca API
timeframe = "1Day"

In [7]:
#Get current closing prices for "SPY", "META", "AMZN", "APPL", "NFLX", "GOOG", "MSFT"
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe, 
    start = start_date, 
    end = end_date 
).df


# Display sample data first 5 rows
df_portfolio.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,118.73,118.81,116.86,117.34,34852374,187129,117.756760,AAPL
2015-12-02 05:00:00+00:00,117.00,118.11,116.08,116.28,33385643,180616,117.151198,AAPL
2015-12-03 05:00:00+00:00,116.55,116.79,114.22,115.20,41560785,245330,115.434888,AAPL
2015-12-04 05:00:00+00:00,115.20,119.25,115.11,119.03,57776977,307788,118.187290,AAPL
2015-12-07 05:00:00+00:00,118.98,119.86,117.81,118.28,32080754,190809,118.509111,AAPL

In [8]:
#Display sample data last 5 rows
df_portfolio.tail()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-06-24 04:00:00+00:00,381.43,390.0900,381.365,390.08,97628636,628275,386.724310,SPY
2022-06-27 04:00:00+00:00,391.12,391.3600,387.440,388.59,65967268,552197,389.085434,SPY
2022-06-28 04:00:00+00:00,390.30,393.1600,380.530,380.65,86376255,641197,384.912075,SPY
2022-06-29 04:00:00+00:00,381.16,382.2700,378.420,380.34,64478427,519970,380.393953,SPY
2022-06-30 04:00:00+00:00,376.27,380.6582,372.560,377.25,112269284,799487,377.083807,SPY

In [9]:
# Separate Ticker Data for "SPY", "META", "AMZN", "APPL", "NFLX", "GOOG", "MSFT"
SPY = df_portfolio[df_portfolio['symbol']=='SPY'].drop('symbol', axis=1)
META = df_portfolio[df_portfolio['symbol']=='META'].drop('symbol', axis=1)
AMZN = df_portfolio[df_portfolio['symbol']=='AMZN'].drop('symbol', axis=1)
AAPL = df_portfolio[df_portfolio['symbol']=='AAPL'].drop('symbol', axis=1)
NFLX = df_portfolio[df_portfolio['symbol']=='NFLX'].drop('symbol', axis=1)
GOOG = df_portfolio[df_portfolio['symbol']=='GOOG'].drop('symbol', axis=1)
MSFT = df_portfolio[df_portfolio['symbol']=='MSFT'].drop('symbol', axis=1)

# Concatenate the Ticker DataFrames
df_portfolio = pd.concat(
    [SPY, META, AMZN, AAPL, NFLX, GOOG, MSFT],
    axis=1, 
    keys=['SPY','META', 'AMZN', 'NFLX', 'GOOG','MSFT']
)

# Display sample data
df_portfolio

                              SPY                                         \
                             open      high       low   close     volume
timestamp
2015-12-01 05:00:00+00:00  209.42  210.8200  209.1100  210.68   97858418
2015-12-02 05:00:00+00:00  210.60  211.0000  208.2300  208.54  108069059
2015-12-03 05:00:00+00:00  208.90  209.1500  204.7511  205.58  166224154
2015-12-04 05:00:00+00:00  206.10  209.9700  205.9300  209.66  192878747
2015-12-07 05:00:00+00:00  209.20  209.7295  207.2000  208.27  102027111
...                           ...       ...       ...     ...        ...
2022-06-24 04:00:00+00:00  381.43  390.0900  381.3650  390.08   97628636
2022-06-27 04:00:00+00:00  391.12  391.3600  387.4400  388.59   65967268
2022-06-28 04:00:00+00:00  390.30  393.1600  380.5300  380.65   86376255
2022-06-29 04:00:00+00:00  381.16  382.2700  378.4200  380.34   64478427
2022-06-30 04:00:00+00:00  376.27  380.6582  372.5600  377.25  112269284

                                                     META                  \
                          trade_count        vwap    open    high     low
timestamp
2015-12-01 05:00:00+00:00      337780  209.921410     NaN     NaN     NaN
2015-12-02 05:00:00+00:00      367013  209.563055     NaN     NaN     NaN
2015-12-03 05:00:00+00:00      546768  206.878936     NaN     NaN     NaN
2015-12-04 05:00:00+00:00      556731  208.178631     NaN     NaN     NaN
2015-12-07 05:00:00+00:00      374705  208.276128     NaN     NaN     NaN
...                               ...         ...     ...     ...     ...
2022-06-24 04:00:00+00:00      628275  386.724310  161.72  170.25  161.30
2022-06-27 04:00:00+00:00      552197  389.085434  171.39  171.75  168.01
2022-06-28 04:00:00+00:00      641197  384.912075  169.90  171.30  160.61
2022-06-29 04:00:00+00:00      519970  380.393953  163.59  166.33  160.32
2022-06-30 04:00:00+00:00      799487  377.083807  162.15  165.23  158.49

                           ...      GOOG                             MSFT  \
                           ...    volume trade_count        vwap     open
timestamp                  ...
2015-12-01 05:00:00+00:00  ...  12550755       73017  124.400173   747.11
2015-12-02 05:00:00+00:00  ...  24105712      143571  129.278581   768.90
2015-12-03 05:00:00+00:00  ...  26644540      150577  128.988364   766.01
2015-12-04 05:00:00+00:00  ...  20250411      113799  128.454281   753.10
2015-12-07 05:00:00+00:00  ...  23351531      142911  127.261709   767.77
...                        ...       ...         ...         ...      ...
2022-06-24 04:00:00+00:00  ...  12423974      145555  189.453456  2273.93
2022-06-27 04:00:00+00:00  ...   8363879      116894  187.493089  2382.32
2022-06-28 04:00:00+00:00  ...   7201897      108254  183.632610  2327.02
2022-06-29 04:00:00+00:00  ...   5766847       90618  177.561970  2242.97
2022-06-30 04:00:00+00:00  ...   7895675      106996  174.800531  2209.98

                                                                              \
                               high        low    close   volume trade_count
timestamp
2015-12-01 05:00:00+00:00   768.950   746.7000   767.04  2134621       35176
2015-12-02 05:00:00+00:00   775.955   758.9600   762.38  2230373       34959
2015-12-03 05:00:00+00:00   768.995   745.6300   752.54  2590641       38195
2015-12-04 05:00:00+00:00   768.490   750.0000   766.81  2757283       33245
2015-12-07 05:00:00+00:00   768.730   755.0900   763.25  1812314       23534
...                             ...        ...      ...      ...         ...
2022-06-24 04:00:00+00:00  2372.750  2272.0600  2370.76  1956146       92853
2022-06-27 04:00:00+00:00  2385.000  2320.0150  2332.45  1641966       77596
2022-06-28 04:00:00+00:00  2357.130  2248.8800  2251.43  1415821       79078
2022-06-29 04:00:00+00:00  2273.290  2231.0801  2245.13   931393       58418
2022-06-30 04:00:00+00:00  2226.596  2146.2000  2187.45  1903927       95874


                                  vwap
timestamp
2015-12-01 05:00:00+00:00   761.715722
2015-12-02 05:00:00+00:00   766.870679
2015-12-03 05:00:00+00:00   755.466554
2015-12-04 05:00:00+00:00   763.948550
2015-12-07 05:00:00+00:00   762.600568
...                                ...
2022-06-24 04:00:00+00:00  2346.887575
2022-06-27 04:00:00+00:00  2347.882546
2022-06-28 04:00:00+00:00  2282.488087
2022-06-29 04:00:00+00:00  2246.197409
2022-06-30 04:00:00+00:00  2187.833401

[1657 rows x 42 columns]

In [10]:
#The high price for SPY
spy_close= df_portfolio["SPY"]["high"]
spy_close

timestamp
2015-12-01 05:00:00+00:00    210.8200
2015-12-02 05:00:00+00:00    211.0000
2015-12-03 05:00:00+00:00    209.1500
2015-12-04 05:00:00+00:00    209.9700
2015-12-07 05:00:00+00:00    209.7295
                               ...
2022-06-24 04:00:00+00:00    390.0900
2022-06-27 04:00:00+00:00    391.3600
2022-06-28 04:00:00+00:00    393.1600
2022-06-29 04:00:00+00:00    382.2700
2022-06-30 04:00:00+00:00    380.6582
Name: high, Length: 1657, dtype: float64

In [11]:
#The low price for SPY
spy_close = df_portfolio["SPY"]["low"]
spy_close

timestamp
2015-12-01 05:00:00+00:00    209.1100
2015-12-02 05:00:00+00:00    208.2300
2015-12-03 05:00:00+00:00    204.7511
2015-12-04 05:00:00+00:00    205.9300
2015-12-07 05:00:00+00:00    207.2000
                               ...
2022-06-24 04:00:00+00:00    381.3650
2022-06-27 04:00:00+00:00    387.4400
2022-06-28 04:00:00+00:00    380.5300
2022-06-29 04:00:00+00:00    378.4200
2022-06-30 04:00:00+00:00    372.5600
Name: low, Length: 1657, dtype: float64

In [12]:
#The closing price for SPY
spy_close= df_portfolio["SPY"]["close"]
spy_close

timestamp
2015-12-01 05:00:00+00:00    210.68
2015-12-02 05:00:00+00:00    208.54
2015-12-03 05:00:00+00:00    205.58
2015-12-04 05:00:00+00:00    209.66
2015-12-07 05:00:00+00:00    208.27
                              ...
2022-06-24 04:00:00+00:00    390.08
2022-06-27 04:00:00+00:00    388.59
2022-06-28 04:00:00+00:00    380.65
2022-06-29 04:00:00+00:00    380.34
2022-06-30 04:00:00+00:00    377.25
Name: close, Length: 1657, dtype: float64